{% extends 'layout.html' %}
{% block body %} 
<div class="row">
    <div class="container files">
        <h3>Select A File</h3>
        <hr>
        {% for image in images %}
        <button class="btn file col-md-6">{{ image }}</button>
        {% endfor %}
    </div>
</div>
<div class="row controls">
    <div class="container">
        <button class="btn btn-outline-success my-2 my-sm-0" id="start" disabled>Start</button>
        <button class="btn btn-outline-danger my-2 my-sm-0" id="stop" disabled>Stop</button>
        <button class="btn btn-outline-danger my-2 my-sm-0" id="reset" disabled>Reset</button>
    </div>
</div>
{% endblock %}