body {
    padding-top: 5rem;
}
.files{
    background-color: #e9ecef;
    padding: 10px;
}
.row {
    margin:0px;
}
button.btn.file {
    font-size: 130%;
    padding: 7px 50px;
}
.files h3 {
    text-align: center;
}
.btn:disabled{
    border-color: slategrey;
    color: slategray;
}
#selected-file{
    background-color: pink;
}